<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Walter</h1>
  <p>Walter har en kæmpe numse</p>
  <button onclick="window.location.href='/jumpscare'">se walter nøgen</button>
</body>

</html>
