


body {
      background-image: url("https://sdmntprnortheu.oaiusercontent.com/files/00000000-0dcc-61f4-900e-83e85010cbd1/raw?se=2025-09-23T12%3A44%3A48Z&sp=r&sv=2024-08-04&sr=b&scid=db36fc18-130e-5c1f-af1a-54c5250d0b13&skoid=b928fb90-500a-412f-a661-1ece57a7c318&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-22T21%3A48%3A56Z&ske=2025-09-23T21%3A48%3A56Z&sks=b&skv=2024-08-04&sig=qbsNucZB8/1tsWTZFEWc9pkUtbgAK4sJGpBV1tpmMl4%3D"); /* stien til billedet */
      background-position: center; /* centrerer billedet */
    }

h1 {
      color: white;
      text-align: center;
    }
p {
      font-family: verdana;
      font-size: 20px;
      text-align: center;
      color: white;
    }
button {
      display: block;
      margin: 0 auto;
      padding: 80px 50px;
      font-size: 16px;
      background-color: #4CAF50; /* Grøn baggrundsfarve */
      color: white; /* Hvid tekstfarve */
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
    button:hover {
      background-color: #388E3C; /* Mørkere grøn ved hover */
    }